[submodule "rest-api-link-manager"]
	path = rest-api-link-manager
	url = https://github.com/PrysPlugins/rest-api-link-manager.git
[submodule "plugin-site-new-tab"]
	path = plugin-site-new-tab
	url = https://github.com/PrysPlugins/plugin-site-new-tab.git
[submodule "wpe-allow-heartbeat"]
	path = wpe-allow-heartbeat
	url = https://github.com/PrysPlugins/WPE-Allow-Heartbeat.git
[submodule "cmb2-sample"]
	path = cmb2-sample
	url = https://gist.github.com/184506fd72999b82e590.git
[submodule "cmb2-front-end-editor"]
	path = cmb2-front-end-editor
	url = https://gist.github.com/4b91773fef173eaefb2b.git
[submodule "woocommerce-order-source-attribution"]
	path = woocommerce-order-source-attribution
	url = https://github.com/woocommerce/woocommerce-order-source-attribution
[submodule "jurassic-ninja-infinite-life"]
	path = jurassic-ninja-infinite-life
	url = https://github.com/JPry/jurassic-ninja-infinite-life.git
